* {
box-sizing: border-box;
margin: auto;
padding:0 ;
}

body{
    height: 100vh;
    background: #722F37; 
    margin: auto;
}

h2 {margin:auto;
    padding: 10px;
    text-transform: uppercase;
    width: 95%;
    max-width: 1000px;
    color:#FFFFFF}


p { color: #FFFFFF; 
    text-align: center;
    font-size: 20px;
    margin: auto;
    padding:20px;
    text-transform: uppercase;
}



.ui-contenido {
    width: 70%;
    border-radius: 20px;
    border-color: #000000;
    background: #c53e4e;
    padding: 20px;
    margin: auto;
    align-items: center;
    border-style: solid; 
}


.ui-title {margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 60px;
    text-transform: uppercase;
    width: 60%;
    max-width: 1000px;
    margin:auto;
    color:#FFFFFF;
    font-size: 25px;
}


.resultados {margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 60px;
    margin: auto;
}
    

#bcv {height: 50px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border-color: #000000;
    border-style: solid;
    padding: 20px;
}


#paralelo {height: 50px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border-color: #000000;
    border-style: solid;
    align-content: center;
}

#monto {height: 50px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border-color: #000000;
    border-style: solid;
}

.eleccion {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    border-color: #000000;
    border-style: solid;
    background: #fa8383;
    padding: 20px;
    width: 60%;
    max-width: 1000px;
    margin:auto;
}

.envio {height: 50px;
    width: 30%;
    text-align: center;
    font-size: 23px;
    border-radius: 15px;
    border-color: #000000;
    border-style: solid;
    margin: auto;
    text-transform: uppercase;
    background: #c53e4e;
    padding: 10px;
}
    

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin:auto;
    padding: 10px;
}

.reseteo {height: 50px;
    width: 30%;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    border-color: #000000;
    border-style: solid;
    margin: auto;
    text-transform: uppercase;
    background: #c53e4e;;
    padding: 10px;
    }


